.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

// colors
// primary

$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);

// neutral

$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);

body {
    font-family: 'Poppins', sans-serif;
    background-color: $smokeyGrey;

}

main {
    margin: 1rem;
    padding: 8rem 1rem 15rem;
    background-color: $lightGrey;
    .calculator {
        padding: 2rem 1rem;
        background-color: $white;
        border-radius: 20px 20px 70px 20px;
        form {
            .settings {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            label {
                display: block;
                color: $smokeyGrey;
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 3px;
            }
            input {
                box-sizing: border-box;
                width: 110%;
                padding: 0.75rem 1.15rem;
                font-weight: 700;
                font-size: 0.9rem;
                border-radius: 5px;
                border: 1px solid $lightGrey;
                outline: none;
            }
            .inputs {
                margin-right: 1rem;
            }
            .submit {
                width: 50px;
                height: 50px;
                background-color: $purple;
                background-position: center;
                background-size: 30px;
                border: none;
                background-repeat: no-repeat;
                display: block;
                margin-left: auto !important;
                margin-right: auto !important;
                margin-top: 2rem !important;
                margin-bottom: 2rem !important;
                padding: 2rem;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
            }
        }

    }
    .calculated {
        p {
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 800;
            font-style: italic;
            margin: 0;
        }
        .metric {
            .output {
                font-size: 2.5rem;
                font-weight: 800;
                font-style: italic;
                color: $purple;
            }
        }
    }
}

.has-error {
    label {
        color: $lightRed !important;
    }
    input {
        border-color: $lightRed !important;
    }
    .error {
        color: $lightRed !important;
        font-weight: 400;
        font-style: italic;
        font-size: 10px;
    }
}

.success {
    input {
        border-color: #0c58c6 !important;
    }
}

@media screen and (min-width: 1440px) {
    main {
        padding: 12rem 27rem;
        .calculator {
            padding: 2rem;
            .settings {
                width: 85%;
            }
            form {
                input {
                    width: 100%;
                    padding: 0.75rem;
                }
                input:hover, 
                input:focus {
                    border-color: $purple;
                }
                .submit {
                    margin-left: auto !important;
                    margin-right: 0 !important;
                    margin-bottom: 0 !important;
                }
                .submit:hover {
                    background-color: $offBlack;
                }
            }
            .calculated {
                line-height: 1.23;
                p {
                    font-size: 3.5rem;
                }
                .metric .output {
                    font-size: 3.5rem;
                }
            }
        }
    }
}